<div class="chat-new">
  <header>
    <div class="header-left">
      <%= link_to image_tag("/photo/arrow.png", class:"edit", :size => "83x83"), posts_path %>
    </div>
    <div class="headding">
      <p>完了したタスク</p>
    </div>
  </header>
  <div class="mein-wrapper">
    <div class="done-wrapper">
      <div class="field">
        <div class="task">
          <p>完了したタスク</p>
          <% if User.find(@done.user_id).user_icon.attached? %>
              <%= image_tag User.find(@done.user_id).user_icon, :size => "60x60" %>
          <% else %>
            <p><%= image_tag("default_icon.png", :size => "50x50") %></p>
          <% end %>
          <div class="time">
            <p><%= @done.updated_at.strftime('%Y/%m/%d %H:%M') %></p>
          </div>
          <div class="task">
            <p><%= @done.task %></p>
          </div>
        </div>
        <div class="labor">
          <p>労力値</p>
          <h2><%= @done.labor %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

