<div class="invitations-new">
  <header>
    <div class="header-left">
      <%= link_to image_tag("/photo/arrow.png", class:"index", :size => "83x83"), 'javascript:history.back()'  %>
    </div>
    <div class="headding">
      <p>招待画面</p>
    </div>
  </header>
  <div class="mein-wrapper">
    <div class="container">
      <h3>招待したい人のメールアドレスを入力してください。</h3>
        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form">
          <% resource.class.invite_key_fields.each do |field| -%>
            <div class="field">
              <%= f.text_field field %>
            </div>
          <% end -%>
        </div>
          <div class="actions">
            <%= f.submit "招待メールを送る" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
