<%= render 'shared/header' %>
<div class="post-index">
  <div class="container">
    
      <div class="heading">
        <div class="nav">
          <%= link_to "タスク", "/", {class: "btn"} %>
          <%= link_to "分析", "/" %>
        </div>
      </div>

      <div class="mein-wrapper">
       <div class="task-wrapper">
       <% @posts.each do |post| %>
        <% if post.emphasis %>
          <%= form_with url: dones_create_path, method: "post" do |form| %>
            <div class="field-emphasis">
                <div class="task">
                  <%= link_to post.task, edit_post_path(post.id) %>
                </div>
                <input type="hidden" value="<%= post.task %>" name="task" />
                <input type="hidden" value="<%= post.labor %>" name="labor" />
                <input type="hidden" value="<%= post.classification %>" name="classification" />
                <input type="hidden" value="<%= post.id %>" name="id" />
                <input type="image" src="/photo/check_btn.png" name="button1" alt="送信する">
            </div>
          <% end %>
        <% else %>
          <%= form_with url: dones_create_path, method: "post" do |form| %>
            <div class="field">
                <div class="task">
                  <%= link_to post.task, edit_post_path(post.id) %>
                </div>
                <input type="hidden" value="<%= post.task %>" name="task" />
                <input type="hidden" value="<%= post.labor %>" name="labor" />
                <input type="hidden" value="<%= post.classification %>" name="classification" />
                <input type="hidden" value="<%= post.id %>" name="id" />
                <input type="image" src="/photo/check_btn.png" name="button1" alt="送信する">
            </div>
          <% end %>
        <% end %>
      <% end %>
       </div>

       <div class="done-wrapper">
         <div class="done">
         <p>完了したタスク</p>
       <% @dones.each do |done| %>
        <% @done = done %>
         <div class="field">
          <div class="chat">
          <% if User.find(@done.user_id).user_icon.attached? %>
              <%= image_tag User.find(@done.user_id).user_icon, :size => "60x60" %>
          <% else %>
            <p><%= image_tag("default_icon.png", :size => "50x50") %></p>
          <% end %>
            <div class="time">
              <p><%= @done.updated_at.strftime('%Y/%m/%d %H:%M') %></p>
            </div>
            <div class="task">
              <p><%= @done.task %></p>
            </div>
            <div class="thanks">
              <%= link_to "お礼の言葉を送る", new_chat_path(@done.id) %>
            </div>

            <% @chats.each do |chat| %>
              <% if @done.id == chat.done_id %>
                <div class="chat-thank">
                <% if User.find(chat.user_id).user_icon.attached? %>
                    <%= image_tag User.find(chat.user_id).user_icon, :size => "50x50" %>
                <% else %>
                  <p><%= image_tag("default_icon.png", :size => "50x50") %></p>
                <% end %>
                  <div class="time">
                    <p><%= chat.updated_at.strftime('%Y/%m/%d %H:%M') %></p>
                  </div>
                  <div class="message">
                    <%= link_to chat.message, edit_chat_path(chat.id) %>
                  </div>
                </div>
              <% else %>
              <% end %>
            <% end %>

          </div>
         </div>
       <% end %>
       </div> 
       <div class="btn">
        <%= link_to image_tag("/photo/plus.png", class:"btn", :size => "85x85"), new_post_path %>
       </div>
     </div>


        <%= current_user.email %>
        <% if current_user.user_icon.attached? %>
          <%= image_tag current_user.user_icon, :size => "50x50" %>
        <% else %>
          <p><%= image_tag("default_icon.png", :size => "50x50") %></p>
        <% end %>



        <%= link_to "Log out", destroy_user_session_path, class: "#", data: { turbo_method: :delete, turbo_confirm: " 本当にログアウトしますか？"} %>
  </div>
</div>


