<div class="post-new">
  <header>
      <div class="header-left">
      <%= link_to image_tag("/photo/arrow.png", class:"edit", :size => "83x83"), posts_path %>
    </div>
    <div class="headding">
      <p>タスクの追加</p>
    </div>
  </header>
  <div class="mein-wrapper">
    <div class="formbox">
      <%= form_with url: posts_path, scope: :post do |form| %>
        <div class="form-1">
          <%=form.label :task, "タスク名" %><br>
          <%=form.text_field :task %>
        </div>
          <div class="check-box">
            <%= form.check_box :emphasis, {}, "true", "false" %>
            <p>重要（タスクが強調されます）</p>
          </div>


       <div class="form-2">
        <%= form.label :labor,"労力" %>
        <%= form.number_field :labor, in: 1..10 %>
       </div>

      <div class="form-3">
        <h2>タスクの分類</h2>
        <label><%= form.radio_button :classification, :generally, checked: true %>通常のタスク</label><br>
        <label><%= form.radio_button :classification, :everyday%>毎日のタスク</label><br>
        <p>*毎日自動でタスクが追加されます。</p>
        <div class="paid">
          <label><%= form.radio_button :classification, :date%>日にち指定のタスク</label>
          <p>※指定した日にちにタスクが<br>
            &emsp;自動で追加されます。<font color="red">（有料）</font></p>
        </div>
        <div class="paid">
          <label><%= form.radio_button :classification, :week%>曜日指定のタスク</label>
          <p>※指定した曜日にタスクが<br>
            &emsp;自動で追加されます。<font color="red">（有料）</font></p>
          <div>
            <input id="monday" name="day_of_week[]" type="checkbox" value="1">
            <label for="monday">月</label>
            <input id="tuesday" name="day_of_week[]" type="checkbox" value="2">
            <label for="tuesday">火</label>
            <input id="wednesday" name="day_of_week[]" type="checkbox" value="3">
            <label for="wednesday">水</label>
            <input id="thursday" name="day_of_week[]" type="checkbox" value="4">
            <label for="thursday">木</label>
            <input id="friday" name="day_of_week[]" type="checkbox" value="5">
            <label for="friday">金</label>
            <input id="saturday" name="day_of_week[]" type="checkbox" value="6">
            <label for="saturday">土</label>
            <input id="sunday" name="day_of_week[]" type="checkbox" value="0">
            <label for="sunday">日</label>
          </div>
        </div>
      </div>

      <%= link_to "無料で有料プランを試す", "/" %>

      <div class="btn-wrapper">
        <%= form.submit "タスクを追加する"%>   
      </div>

      <% end %>

    <%= current_user.email %>
    <% if current_user.user_icon.attached? %>
      <%= image_tag current_user.user_icon, :size => "50x50" %>
    <% else %>
      <p><%= image_tag("default_icon.png", :size => "50x50") %></p>
    <% end %>



    <%= link_to "Log out", destroy_user_session_path, class: "#", data: { turbo_method: :delete, turbo_confirm: " 本当にログアウトしますか？"} %>
  </div>
</div>
