<div class="user-check">
  <div class="background">
    <div class="container">

      <div class="main-wrapper">
        <div class="heading">
          <h2 >登録内容の確認</h2>
        </div>
        <div class="formbox">
          <%= form_with model:@user, url: user_registration_path ,method: :post, multipart: true do |form| %>
            <div class="form">
               <%=form.label :user_icon, "ユーザーアイコン" %><br>
               <%= form.file_field :user_icon %>
            </div>

            <div class="form">
              <div class="name">
               <%=form.label :name, "お名前" %><br>
               <p><%= @user.name %></p>
               <input type="hidden" value="<%= params[:name] %>" name="user[name]" id="user_name" />
              </div>
            </div>

            <div class="form">
              <div class="email">
                <%=form.label :email, "メールアドレス" %><br>
                <p><%= @user.email %></p>
                <input type="hidden" value="<%= params[:email] %>" name="user[email]" id="user_email" />
              </div>
            </div>

            <div class="form">
              <div class="password">
                <div class="password">
                  <%=form.label :password, "パスワード" %><br>
                  <p><%= @user.password %></p>
                  <input type="hidden" value="<%= params[:password] %>" name="user[password]" id="user_password" />
                </div>
              </div>
            </div>

            <div class="form">
              <div class="password">
                <input type="hidden" value="<%= params[:password_confirmation] %>" name="user[password_confirmation]" id="user_password_confirmation" />
              </div>
            </div>

            <div class="btn-wrapper">
              <%= form.submit "登録する"%>   
              <%= link_to "修正する", new_user_registration_path %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
